.author > i:after {
    content: "\00a0";
}

.single .content .highlight {
    margin: 1rem 0;
}

.single .content figure {
    margin: 1rem 0;
}


/*

Can't make p my mind if this is better or not.

.single .content>h3>.header-mark::before, .single .content>h4>.header-mark::before, .single .content>h5>.header-mark::before, .single .content>h6>.header-mark::before {
    content: "| ";    
}
*/